<div class="container">
  <div class="row">
    <div class="col-xs-10">
        <h1 class="text-danger">FeedBack Blog</h1>
        <br>
        <br>

      <div class="row show-hide-message" *ngIf="message && newPost">
        <div [ngClass]="messageClass">
          {{message}}
        </div>
      </div>


      <button class="btn btn-info" type="button" *ngIf="!newPost" (click)="newBlogForm()">
        <i class="fa fa-fw fa-pencil-square-o"></i> New Post</button>
      <button [disabled]="loadingBlogs" class="btn btn-primary" *ngIf="!newPost" (click)="reloadBlogs()" type="button">
        <i class=" fa fa-fw fa-refresh"></i> Reload</button>

      <br>
      <br>

      <!--New Blog form  -->
      <!-- 


 -->
      <div id="table" *ngIf="newPost">
        <div id="pizza">
          <form name="blogForm" *ngIf="newPost" (submit)="onBlogSubmit()" [formGroup]="form">
            <!-- title -->
            <div class="form-group">
              <label for="title">
                <strong> Title
                  <i class="fa-tint fa fa-fw"></i>: </strong>
              </label>
              <div [ngClass]="{'has-success':form.controls.title.valid   ,'has-error':form.controls.title.dirty &&form.controls.title.errors }">
                <input type="text" name="title" id="fixinput" class="form-control" placeholder="Blog Title" autocomplete="off" formControlName="title">

                <ul class="help-block">
                  <li *ngIf="form.controls.title.dirty &&form.controls.title.errors?.required">this field is required</li>
                  <li *ngIf="(form.controls.title.dirty &&form.controls.title.errors?.minlength) ||(form.controls.title.dirty &&form.controls.title.errors?.maxlength)">Max length:50 , Min length : 5 </li>
                  <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphanumericValidation">Must Be Letters And Numbers</li>
                </ul>
              </div>
            </div>
            <!-- title  -->

            <!-- body -->
            <div class="form-group">
              <label for="body">
                <strong> Your Post
                  <i class="fa-edit fa fa-fw"></i>: </strong>
              </label>
              <div [ngClass]="{'has-success':form.controls.body.valid   ,'has-error':form.controls.body.dirty &&form.controls.body.errors }">
                <textarea class="form-control" placeholder="Body Blog" name="body" id="" cols="30" rows="10" formControlName="body"></textarea>
                <ul class="help-block">
                  <li *ngIf="form.controls.body.dirty &&form.controls.body.errors?.required">this field is required</li>
                  <li *ngIf="(form.controls.body.dirty &&form.controls.body.errors?.minlength) ||(form.controls.body.dirty &&form.controls.body.errors?.maxlength)">Max length:220 , Min length : 5 </li>

                </ul>
              </div>
            </div>
            <!-- body  -->

            <button [disabled]="processing" type="button" class="btn btn-large  btn-warning" (click)="goBack()">Go Back</button>

            <button [disabled]="processing || !form.valid" type="submit" class="btn btn-large  btn-primary ">Post
              <i class="fa fa-fw fa-send"></i>
            </button>

          </form>
        </div>
        <div id="hamburger">
        </div>
      </div>
      <!--New Blog form  -->


      <div *ngIf="!newPost">
        <div class="panel panel-primary" *ngFor="let blog of blogPosts">
          <div class="panel-heading">
            <h3 class="panel-title">{{blog.title}}</h3>
          </div>
          <div class="panel-body">
            {{blog.body}}
          </div>
  <!-- Panel Footer Start -->
  <div class="panel-footer">
    <strong>Posted by: </strong>{{ blog.createdBy }}
    <br />
    <strong>Date: </strong>{{ blog.createdAt | date:'MMM dd, yyyy' }}
    <br />
    <div *ngIf="username === blog.createdBy">
      <strong>Likes: </strong>{{ blog.likes }}
      <br />
      <strong>Dislikes: </strong>{{ blog.dislikes }}
    </div>

    <!-- Edit Button -->
    <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
    <!-- Delete Button -->
    <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>

    <!-- Likes Dropdown  -->
    <div class="dropdown">
      <!-- Like Button -->
      <button [disabled]="blog.likesBy.indexOf(username) >-1" type="button" (click)="likeBlog(blog._id)" name="button" class="btn btn-sm btn-success" *ngIf="username !== blog.createdBy"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{blog.likes}}</button>
      <!-- Dropdown Menu Items -->
      <div class="dropdown-content">
        <a [routerLink]="['/user/',liker]" *ngFor="let liker of blog.likesBy"> {{liker}} </a>

      </div>
    </div>

    <!-- Dislikes Dropdown  -->
    <div class="dropdown">
      <!-- Dislike Button -->
      <button  [disabled]="blog.dislikesBy.indexOf(username) >-1" (click)="dislikeBlog(blog._id)" type="button" name="button" class="btn btn-sm btn-warning" *ngIf="username !== blog.createdBy"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{blog.dislikes}}</button>
      <!-- Dropdown Menu Items -->
      <div class="dropdown-content">
        <a   [routerLink]="['/user/',disliker]" *ngFor="let disliker of blog.dislikesBy">{{disliker}}</a>

      </div>
    </div>

  </div>
  <!-- Panel Footer End -->

          <!-- footer div -->
          <ul class="list-group">
            <li class="list-group-item">
              <button type="button" class=" btn btn-sm btn-info" [disabled]="newComment.indexOf(blog._id)>-1" (click)="draftComment(blog._id)">Post Comments <i class="fa fa-fw fa-comment"></i>  </button>
              <br />
              <br />
              <div *ngIf="newComment.indexOf(blog._id) > -1">
      
                <!-- Form: Comment Form Start -->
                <form [formGroup]="commentForm">
                  <!-- Textarea Input -->
                  <textarea class="styled" name="comment" rows="10" cols="30" formControlName="comment"></textarea>
                  <!-- Validation -->
                  <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
                    <ul class="help-block">
                      <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
                      <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
                    </ul>
                  </div>
                  <!-- Post Button -->
                  <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Post</button>
                  <!-- Cancel Button -->
                  <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Cancel</button>
                </form>
                <!-- Form: Comment Form End -->
      
              </div>
      
              <!-- Show Comments -->
              <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
                <span class="btn btn-sm btn-info" (click)="expand(blog._id)">
                  Show comments&nbsp;&nbsp;
                  <div class="glyphicon glyphicon-comment"></div>
                </span>
              </li>
      
              <!-- Hide Comments -->
              <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
                <span class="btn btn-sm btn-primary"(click)="collapse(blog._id)">
                  Hide Comments&nbsp;&nbsp;
                  <div class="glyphicon glyphicon-comment"></div>
                </span>
              </li>
      
              <!-- Comment -->
              <div *ngIf="enabledComments.indexOf(blog._id) > -1">
                <li *ngFor="let comment of blog.comments" class="list-group-item">
                  <strong>{{ comment.commentator }}:</strong> {{ comment.comment }}
                </li>
              </div>
          </ul>
        </div>
    </div>
  </div>
</div>
</div>
